---
title: Blog
---

<section class="blog-listing section">
  <hgroup class="pitch lt_pitch">
    <h1 class="pitch-heading">News from the Hyperaudio front.</h1>
  </hgroup>

  <div class="container">
    <ol class="listing compact ordered article-list">
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'A random title.', '/site/article.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'Another random title.', '/site/article.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'Whoah, yet another random title?', '/site/article.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'Yes, also this is a random title.', '/site/article.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
      <li class="listing-item row">
        <div class="large-10 small-12 push-2 columns">
          <h2 class="article-title listing-title"><%= link_to 'Title.', '/site/article.html' %></h2>
        </div>
        <div class="large-2 small-12 pull-10 columns">
          <span class="article-date listing-meta">24th Mar 2014</span>
        </div>
      </li>
    </ol>
  </div>
</section>

<hr class="separator" />

<section class="section call">
  <div class="container">
    <div class="call">
      <h1 class="call-heading">Learn about Hyperaudio. <a href="#">Tour</a>.</h1>
    </div>
  </div>
</section>

<hr class="separator" />