---
title: Site
---

<section class="section branded homefold">
  <hgroup class="pitch">
    <h1 class="pitch-heading">Transcript powered Audio and Video</h1>
    <h2 class="pitch-text">Navigate, Search and Edit media like never before.</h2>
  </hgroup>
  <div class="container">
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <div class="functionality">
            <div class="functionality-description">
              <h2 class="functionality-heading">Navigate</h2>
              <div class="functionality-text">
                <p>Skim through media quickly and intuitively.</p>
                <p>Click on text to be taken directly to the good stuff.</p>
                <p><a href="#">Learn more&hellip;</a></p>
              </div>
<!--               <p class="functionality-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
              <a href="#" class="functionality-call button block large">Sign Up</a>
            </div>
            <div class="functionality-figure">
              <figure class="functionality-image-container">
                <%= image_tag 'tmp/placeholder.png', :class => "functionality-image" %>
              </figure>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="functionality">
            <div class="functionality-description">
              <h2 class="functionality-heading">Search</h2>
              <div class="functionality-text">
                <p>Search transcripts to locate points of interest.</p>
                <p>Expose audio and video content to search engines.</p>
                <p><a href="#">Learn more&hellip;</a></p>
              </div>
              <!-- <p class="functionality-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
              <a href="#" class="functionality-call button block large">Sign Up</a>
            </div>
            <div class="functionality-figure">
              <figure class="functionality-image-container">
                <%= image_tag 'tmp/placeholder.png', :class => "functionality-image" %>
              </figure>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="functionality">
            <div class="functionality-description">
              <h2 class="functionality-heading">Edit</h2>
              <div class="functionality-text">
                <p>Assemble content as simply as you would a document.</p>
                <p>Use hyperaudio to rapidly build audio visual pieces.</p>
                <p>Learn more&hellip;</a></p>
              </div>
              <!-- <p class="functionality-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
              <a href="#" class="functionality-call button block large">Sign Up</a>
            </div>
            <div class="functionality-figure">
              <figure class="functionality-image-container">
                <%= image_tag 'tmp/placeholder.png', :class => "functionality-image" %>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <span class="slider-prev">&larr;</span>
      <span class="slider-next">&rarr;</span>
      <ol class="slider-pager"></ol>
    </div>
  </div>
</section>

<section class="features section">
  <div class="container">
    <div class="feature odd">
      <div class="feature-description">
        <h2 class="feature-heading">Shareable</h2>
        <div class="feature-text">
          <p>Highlight or bookmark notable passages of audio and video.</p>
          <p>Share content on social networks or wherever you want.</p>
        </div>
        <!-- <p class="feature-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
        <a href="#" class="feature-call">Learn more&hellip;</a>
      </div>
      <div class="feature-figure">
        <figure class="feature-image-container">
          <%= image_tag 'tmp/placeholder.png', :class => "feature-image" %>
        </figure>
      </div>
    </div>
    <div class="feature even">
      <div class="feature-description">
        <h2 class="feature-heading">Accesible</h2>
        <div class="feature-text">
          <p>Watch words highlight exactly as they are spoken.</p>
          <p>Open up your media to deaf and the hard of hearing.</p>
        </div>
        <!-- <p class="feature-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
        <a href="#" class="feature-call">Learn more&hellip;</a>
      </div>
      <div class="feature-figure">
        <figure class="feature-image-container">
          <%= image_tag 'tmp/placeholder.png', :class => "feature-image" %>
        </figure>
      </div>
    </div>
    <div class="feature odd">
      <div class="feature-description">
        <h2 class="feature-heading">Responsive</h2>
        <div class="feature-text">
          <p>At home, in the office or on the move.</p>
          <p>Web-based Hyperaudio responds to your device.</p>
        </div>
        <!-- <p class="feature-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
        <a href="#" class="feature-call">Learn more&hellip;</a>
      </div>
      <div class="feature-figure">
        <figure class="feature-image-container">
          <%= image_tag 'tmp/placeholder.png', :class => "feature-image" %>
        </figure>
      </div>
    </div>
    <div class="feature even">
      <div class="feature-description">
        <h2 class="feature-heading">Extensible</h2>
        <div class="feature-text">
          <p>Create your own Hyperaudio applications using our clientside libraries and APIs.</p>
          <p>Install the Hyperaudio ecosystem on your servers.</p>
        </div>
        <!-- <p class="feature-detail">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p> -->
        <a href="#" class="feature-call">Learn more&hellip;</a>
      </div>
      <div class="feature-figure">
        <figure class="feature-image-container">
          <%= image_tag 'tmp/placeholder.png', :class => "feature-image" %>
        </figure>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <h1 class="heading-xl">Praised by experts. Supported by organizations.</h1>
    <div class="endorsements">
      <div class="endorsement">
        <blockquote class="endorsement-quote">Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
        <cite class="endorsement-author">Ben Moskowitz <span class="endorsement-author-title">Mozilla and new media professor at NYU Interactive Telecommunications Program</span></cite>
      </div>
      <div class="endorsement">
        <blockquote class="endorsement-quote">Hyperaudio will make audio part of the web and turn it from dead, isolated &ldquo;islands&rdquo; to a first class citizen with all the creative, surprising uses we've never dreamt of as a consequence.</blockquote>
        <cite class="endorsement-author">Henrik Moltke <span class="endorsement-author-title">Radio producer</span></cite>
      </div>
      <div class="endorsement">
        <blockquote class="endorsement-quote">By introducing interactive, word level timed, transcripts to videos our our online community can take full advantage of these videos and create their own mashups to share.</blockquote>
        <cite class="endorsement-author">Mohammed El-Haddad <span class="endorsement-author-title">Interactive Journalist Al Jazeera English</span></cite>
      </div>
    </div>
    <div class="endorsements">
      <div class="endorsement">
        <blockquote class="endorsement-quote">Everybody at the BBC Research &amp; Development I have talked to about Hyperaudio is excited by its potential and its current standing.</blockquote>
        <cite class="endorsement-author">Ian Forrester <span class="endorsement-author-title">Senior firestarter at BBC R&amp;D, emergent technology expert</span></cite>
      </div>
      <div class="endorsement">
        <blockquote class="endorsement-quote">The Hyperaudio Pad project can make some exceptionally important contributions to deepening human and machine intelligence engagement with media by elaborating time-locked metadata.</blockquote>
        <cite class="endorsement-author">Roger Macdonald <span class="endorsement-author-title">Internet Archive TV News Research Service Project</span></cite>
      </div>
      <div class="endorsement">
        <blockquote class="endorsement-quote">Remixing the dialogue in my documentaries with Hyperaudio&rsquo;s interactive transcripts can really take my films in new, serendipitous directions.</blockquote>
        <cite class="endorsement-author">Simon Klose <span class="endorsement-author-title">Documentary Maker, The Pirate Bay&ndash;Away From Keyboard</span></cite>
      </div>
    </div>
    <div class="supporters">
      <a href="#" class="supporter"><i class="icon-logo-mozilla" title="Mozilla"></i></a>
      <a href="#" class="supporter"><i class="icon-logo-wnyc" title="New York Public Radio"></i></a>
      <a href="#" class="supporter"><i class="icon-logo-aljazeera" title="Al Jazeera"></i></a>
      <a href="#" class="supporter"><i class="icon-logo-bbc" title="BBC"></i></a>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <div class="call">
      <h1 class="call-heading"><a href="#">Sign up</a> and give Hyperaudio a whirl.</h1>
    </div>
  </div>
</section>

<hr class="separator" />