---
title: Site
---

<section class="section branded lt_homefold">
  <div class="container">
    <hgroup class="pitch lt_pitch">
      <h1 class="pitch-heading">Transcript powered Audio and Video</h1>
      <h2 class="pitch-text">Navigate, Search and Edit media like never before.</h2>
    </hgroup>
    <div class="slider">
      <div class="slides functionalities lt_functionalities">
        <div class="slide">
          <div class="functionality row">
            <div class="functionality-figure columns small-12 large-8 push-4">
              <figure class="functionality-image-container">
                <img src="http://hyperaud.io/screen-cartoon.jpg" class="functionality-image" />
              </figure>
            </div>
            <div class="functionality-description columns small-12 large-4 pull-8">
              <h2 class="functionality-heading">Navigate</h2>
              <div class="functionality-text">
                <p>Skim through media quickly and intuitively. <br/>Click on text to be taken directly to the good stuff.</p>
              </div>
              <%= link_to 'Learn more', 'tour.html', :class => "functionality-call button block" %>
              <%= link_to 'Sign up', 'tour.html', :class => "functionality-call primary button block" %>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="functionality row">
            <div class="functionality-figure columns small-12 large-8 push-4">
              <figure class="functionality-image-container">
                <img src="http://hyperaud.io/screen-cartoon.jpg" class="functionality-image" />
              </figure>
            </div>
            <div class="functionality-description columns small-12 large-4 pull-8">
              <h2 class="functionality-heading">Search</h2>
              <div class="functionality-text">
                <p>Search transcripts to locate points of interest. <br/>Expose audio and video content to search engines.</p>
              </div>
              <%= link_to 'Learn more', 'tour.html', :class => "functionality-call button block" %>
              <%= link_to 'Sign up', 'tour.html', :class => "functionality-call primary button block" %>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="functionality row">
            <div class="functionality-figure columns small-12 large-8 push-4">
              <figure class="functionality-image-container">
                <img src="http://hyperaud.io/screen-cartoon.jpg" class="functionality-image" />
              </figure>
            </div>
            <div class="functionality-description columns small-12 large-4 pull-8">
              <h2 class="functionality-heading">Edit</h2>
              <div class="functionality-text">
                <p>Assemble content as simply as you would a document. <br/>Use hyperaudio to rapidly build audio visual pieces.</p>
              </div>
              <%= link_to 'Learn more', 'tour.html', :class => "functionality-call button block" %>
              <%= link_to 'Sign up', 'tour.html', :class => "functionality-call primary button block" %>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-pager">
        <!-- <span class="slider-prev">&larr;</span> -->
        <ol class="slider-pages"></ol>
        <!-- <span class="slider-next">&rarr;</span> -->
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">A complete set of web tools for remixing media.</h1>
    </hgroup>
    <div class="features">
      <div class="feature row">
        <div class="feature-figure large-8 small-12 columns">
          <figure class="feature-image-container">
            <img src="http://hyperaud.io/screen-cartoon.jpg" class="feature-image" />
          </figure>
        </div>
        <div class="feature-description large-4 small-12 columns">
          <h2 class="feature-heading">Shareable</h2>
          <p class="feature-text">Highlight or bookmark notable passages of audio and video.</p>
          <p class="feature-text">Share content on social networks or wherever you want.</p>
          <%= link_to 'Learn more', 'tour.html', :class => "feature-call button large" %>
        </div>
      </div>
      <div class="feature row">
        <div class="feature-figure large-8 small-12 columns push-4">
          <figure class="feature-image-container">
            <img src="http://hyperaud.io/screen-cartoon.jpg" class="feature-image" />
          </figure>
        </div>
        <div class="feature-description large-4 small-12 columns pull-8">
          <h2 class="feature-heading">Accesible</h2>
          <p class="feature-text">Watch words highlight exactly as they are spoken.</p>
          <p class="feature-text">Open up your media to deaf and the hard of hearing.</p>
          <%= link_to 'Learn more', 'tour.html', :class => "feature-call button large" %>
        </div>
      </div>
    </div>

    <hr class="separator alt" />

    <div class="characteristics row">
      <div class="large-6 small-12 columns">
        <div class="characteristic">
          <h2 class="characteristic-heading">Responsive</h2>
          <div class="row">
            <div class="large-7 small-6 columns">
              <p class="characteristic-text">At home, in the office or on the move. Web-based Hyperaudio responds to your device. <%= link_to 'Learn more &raquo;', 'tour.html', :class => "characteristic-call" %></p>
            </div>
            <div class="large-5 small-6 columns">
              <div class="characteristic-figure">
                <figure class="characteristic-image-container">
                  <img src="http://hyperaud.io/screen-cartoon.jpg" class="characteristic-image" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 small-12 columns">
        <div class="characteristic">
          <h2 class="characteristic-heading">Extensible</h2>
          <div class="row">
            <div class="large-7 small-6 columns">
              <p class="characteristic-text">Create your own Hyperaudio applications using our clientside libraries and APIs. Install the Hyperaudio ecosystem on your servers. <%= link_to 'Learn more &raquo;', 'tour.html', :class => "characteristic-call" %></p>
            </div>
            <div class="large-5 small-6 columns">
              <div class="characteristic-figure">
                <figure class="characteristic-image-container">
                  <img src="http://hyperaud.io/screen-cartoon.jpg" class="characteristic-image" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="separator" />

<section class="section endorsements">
  <div class="container">
    <hgroup class="section-head">
      <h1 class="section-head-heading">Praised by experts. Supported by organizations.</h1>
    </hgroup>
    <div class="row endorsements">
      <div class="endorsement small-12 large-4 columns">
        <blockquote class="endorsement-quote">Hyperaudio Pad attains something like the holy grail of web media. It gives web media producers the same copy, cut paste functionality that writers have enjoyed for years.</blockquote>
        <cite class="endorsement-author">Ben Moskowitz <span class="endorsement-author-title">Mozilla and new media professor at NYU Interactive Telecommunications Program</span></cite>
      </div>
      <div class="endorsement small-12 large-4 columns">
        <blockquote class="endorsement-quote">Everybody at the BBC Research &amp; Development I have talked to about Hyperaudio is excited by its potential and its current standing.</blockquote>
        <cite class="endorsement-author">Ian Forrester <span class="endorsement-author-title">Senior firestarter at BBC R&amp;D, emergent technology expert</span></cite>
      </div>
      <div class="endorsement small-12 large-4 columns">
        <blockquote class="endorsement-quote">By introducing interactive, word level timed, transcripts to videos our our online community can take full advantage of these videos and create their own mashups to share.</blockquote>
        <cite class="endorsement-author">Mohammed El-Haddad <span class="endorsement-author-title">Interactive Journalist Al Jazeera English</span></cite>
      </div>
    </div>
  </div>
  <div class="supporters">
    <a href="http://www.mozilla.org/en-US/" class="supporter"><i class="icon-logo-mozilla" title="Mozilla"></i></a>
    <a href="http://www.wnyc.org/" class="supporter"><i class="icon-logo-wnyc" title="New York Public Radio"></i></a>
    <a href="http://www.aljazeera.com/" class="supporter"><i class="icon-logo-aljazeera" title="Al Jazeera"></i></a>
    <a href="http://www.bbc.com/" class="supporter"><i class="icon-logo-bbc" title="BBC"></i></a>
    <a href="https://archive.org/" class="supporter"><i class="icon-internet-archive" title="Internet Archive"></i></a>
  </div>
</section>

<hr class="separator" />

<section class="section">
  <div class="container">
    <hgroup class="call">
      <h1 class="call-heading"><a href="#">Sign up</a> and give Hyperaudio a whirl.</h1>
    </hgroup>
  </div>
</section>

<hr class="separator" />